  @keyframes fade-in {
    0% {
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes card-slide {
    0% {
      transition: translateX(4rem);
      opacity: 0;
    }
    100% {
      margin: 0;
      transition: translateX(0);
      opacity: 1;
    }
  }