@mixin flex-center($direction: row , $justify: center , $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin box-shadow($x , $y, $blur, $opacity){
    box-shadow: #{$x}px #{$y}px #{$blur}px (#{$black} + #{$opacity});
}

@mixin drop-shadow($x , $y, $blur, $opacity){
    filter: drop-shadow(#{$x}px #{$y}px #{$blur}px (#{$black} + #{$opacity}));
}

@mixin text-style($size,$weight){
    font-size: #{$size}px;
    font-weight: $weight;
}

@mixin button(
    $background,
    $backgound-hover,
    $text-color,
    $width,
    $height,
    $radius,
    $box-shadow,
    $box-shadow-hover
    ) 
    {
        background: $background;
        border-radius: $radius;
        color: $text-color;
        height: $height;
        width: $width;
        border-radius: $radius;
        @include box-shadow($box-shadow...);
        &:hover{
            background: $backgound-hover;
            @include box-shadow($box-shadow-hover...);
        }
    }