$font-family:roboto;
$font-title:Shrikhand;
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$black:#000000;
$white:#FFFFFF;
$grey:#353535;
$light-grey:#EAEAEA;
$background:#F6F6F6;
$dark-green:#008766;
$gradiant:linear-gradient(-158deg, $color-primary 0%, $color-secondary 100%);
$gradiant-light:linear-gradient(-158deg, lighten($color-primary, 15%) 0%, lighten($color-secondary, 15%) 100%);