//variable
$font-family:roboto;
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$black:#000000;
$white:#FFFFFF;
$grey:#353535;
$light-grey:#EAEAEA;
$background:#F6F6F6;
$dark-green:#008766;
$gradiant:linear-gradient(-158deg, $color-primary 0%, $color-secondary 100%);
$gradiant-light:linear-gradient(-158deg, lighten($color-primary, 15%) 0%, lighten($color-secondary, 15%) 100%);

//Mixins
@mixin flex-center($direction: row , $justify: center , $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin box-shadow($x , $y, $blur, $opacity){
    box-shadow: #{$x}px #{$y}px #{$blur}px (#{$black} + #{$opacity});
}

@mixin drop-shadow($x , $y, $blur, $opacity){
    filter: drop-shadow(#{$x}px #{$y}px #{$blur}px (#{$black} + #{$opacity}));
}

@mixin text-style($size,$weight){
    font-size: #{$size}px;
    font-weight: $weight;
}

*{
    font-family:$font-family;
}

body {
    @include flex-center(column,normal,normal);
    background-color: $background;
    margin: 0;
    padding: 0;
    height:100vh;
   
}

.header{
    @include flex-center(row);
    background-color: $white;
    height: 63px;
    @include drop-shadow(0,2,4,25);
        &__logo{
            @include flex-center();
        }
        &__logo--img{
            width: 40%;
        }
        &__backicon{
            display: none;
        }
}

.location{
    @include flex-center();
    @include box-shadow(0,4,4,25);
    gap: 17px;
    background-color:$light-grey;
    height: 50px;
        &__textfield{
            @include text-style(16,500);
        }
}
//*******Main*********//
main{
    @include flex-center(column,normal,normal);
    flex-grow: 1;
    gap: 30px;
}

//**Hero**//
.hero{
    @include flex-center(column);
        &__container{
            @include flex-center(column);
            gap: 18px;
            padding: 30px 0px 0px 0px;
            width: 85%;
            h1,h2{
                text-align: center;
                margin: 0;
            }
        }
        &__title{
            @include text-style(24,700);
        }
        &__subtitle{
            @include text-style(18,300);
        }
        &__button{
            background: $gradiant;
            border: none;
            border-radius: 25px;
            @include box-shadow(0, 4, 10, 25);
            color: $background;
            @include text-style(18, 500);
            height: 50px;
            width: 218px;
            &:hover{
                background: $gradiant-light;
                @include box-shadow(0,4,15,35);
            }
        }
}
//*Fonctionement*//

.fonctionement{
    background-color: $white;
    @include flex-center(column);
    gap: 25px;
    padding-bottom: 30px;
    &__btn{
        background-color: $background;
        border-radius: 20px;
        @include flex-center(row,normal);
        @include drop-shadow(0,4,15,25);
        height: 70px;
        width: 85%;
        h2{
            @include text-style(16, 500);
        }
        &:hover{
            background: lighten($background,15%);
            @include box-shadow(0, 4, 15, 35);
        }
    }
    &__title{
        align-self: flex-start;
        margin: 0;
        padding: 25px 0px 0px 20px;
    }
    &__number{
        background: rgba(147, 86, 220, 1);
        border-radius: 50%;
        color: white;
        @include text-style(14, 500);
        height: 24px;
        left: -15px;
        position: relative;
        text-align: center;
        width: 24px;
        span{
            left: 8px;
            top: 3px;
            position: absolute;
        }
    }
    &__content{
        @include flex-center(row,normal);
        gap: 27px;
    }
    &__icon--purple{
        color: $color-primary;
    }
}

//*Restaurant*//

.restaurant{
    margin-bottom: 60px;
    &__title{
        margin: 0;
        @include text-style(24, 700);
    }
    &__card{
        background: $white;
        border-radius: 15px;
        @include flex-center(column,normal,normal);
        height: 251px;
        @include drop-shadow(0,4,15,10);
        img{
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
            width: 100%;
            height:70%;
        }
    }
    &__badge{
        background-color: $color-tertiary;
        border-radius: 2px;
        width: 80px;
        height: 29px;
        @include flex-center();
        position: absolute;
        top: 13px;
        right: 15px;
        span{
            @include text-style(14, 500);
            color:$dark-green;
        }
    }
    &__content{
        @include flex-center(row,space-between);
        padding: 12px;
    }
    &__subtitle{
        margin: 0;
        @include text-style(18, 700);
    }
    &__text{
        margin: 0;
        @include text-style(17, 300);
    }
    &__like{
        font-size: 24px;
    }
    &__menu{
        gap: 18px;
        @include flex-center(column,normal,normal);
        padding: 0px 17px 17px 17px;
        a{
            text-decoration: none;
            color: $black;
        }
    }

}
//*Footer*//
.footer{
    background-color:$grey;
    padding: 22px 25px 22px 25px;
    @include flex-center(column,normal,normal);
    gap: 16px;
    &__logo > img{
        filter: invert(100%);
        width: 35%;
    }
    &__link-container{
        @include flex-center(column, normal, normal);
        gap:7px;
    }
    &__link{
        text-decoration: none;
        color: $white;
    }
    &__link--icon{
        @include flex-center(row,normal,normal);
        gap: 10px;
    }
}

