.fonctionement {
    background-color: $white;
    @include flex-center(column);
    gap: 25px;
    padding: 3rem 1.25rem 4.25rem 2rem;
        &__title {
            align-self: flex-start;
            width: 100%;
           
        }

        &__btn {
            @include flex-center(row, normal);

            h2 {
                @include text-style(16, 500);
            }
        }

        &__number {
            background: $color-primary;
            border-radius: 50%;
            color: $white;
            @include text-style(14, 500);
            height: 24px;
            left: -15px;
            position: relative;
            text-align: center;
            width: 24px;

            span {
                left: 8px;
                top: 3px;
                position: absolute;
            }
        }

        &__content {
            @include flex-center(row, normal);
            gap: 27px;
        }

        &__icon--purple {
            color: $color-primary;
        }

        &__btn {
            width: 100%;
            @include breakpoint('Desktop') {
                width: 30%;
            }
            @include breakpoint('Tablet') {
                width: 30%;
            }
        }

    @include breakpoint('Desktop') {
        @include flex-center();
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3.125rem 11.25rem 3.125rem 11.25rem;
    }
    @include breakpoint('Tablet'){
        padding: 3rem 1.25rem 4.25rem 2rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

  



}