.footer{
    background-color:$grey;
    padding: 22px 25px 22px 25px;
    @include flex-center(column,normal,normal);
    gap: 7px;
    @include desktop-screen{
        flex-direction: row-reverse;
        height: 7.125rem;
        box-sizing: border-box;
    }
    &__logo{
        display: flex;
        align-items: center;
    }
    &__logo > img{
        filter: invert(100%);
        height: 1rem
    }
    &__link-container{
        @include flex-center(column, normal, normal);
        gap:7px;
        @include desktop-screen{
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
    }
    &__link{
        text-decoration: none;
        color: $white;
        font-family: $font-family;
        @include text-style(16,400);
        text-wrap: nowrap;
        @include desktop-screen{
            flex: 1 1; 
        }
    }
    &__link--icon{
        @include flex-center(row,normal,normal);
        @include text-style(16,500);
        gap: 10px;
    }
}