.header{
    @include flex-center(row , normal , center);
    background-color: $white;
    padding: 14px 0px 13px 17px;
    @include drop-shadow(0,2,4,25);
    &__logo{
        @include flex-center();
        flex: 1;
    }
    
    @include desktop-screen{
        padding: 1.875rem 1.875rem;
    }
}