.hero{
    @include flex-center(column);
        &__container{
            @include flex-center(column);
            gap: 18px;
            padding: 1.875rem 1.875rem;
            h1,h2{
                text-align: center;
                margin: 0;
            }
        }
        &__title{
            @include text-style(24,700);

            @include breakpoint('Desktop'){
                @include text-style(40,700)
            }
        }
        &__subtitle{
            @include text-style(18,300);
        }
        .buttons{
            font-size: 16px;
        }
}