.menu{
    background: white;
    &__title{
        font-family: $font-title;
        font-size: 28px;
        font-weight: 400;
    }
    &__headline{
        @include flex-center(row,normal,center);
        gap: 24px;
        padding-top: 32px;
        svg{
            height: 21px;
        }
    }
    &__container{
        @include flex-center(column,normal,normal);
        background: $background;
        border-radius: 40px 40px 0px 0px;
        padding: 0px 17px;
        position: relative;
        top: -55px;  
        gap: 40px;
    }
    &__button{
        @include flex-center(row,center,center);
        width: 186px;
        align-self: center;
    }
    &__check{
        height: 20px;
        width: 20px;
        filter: invert(1);
    }
    &__section ,&__row{
        @include flex-center(column,normal,normal);
        gap: 12px;
    }    
}