.menu{
    background: white;
    margin-bottom: 40px;
    @include desktop-screen{
        @include flex-center();
        margin: 0;
    }
    &__title{
        font-family: $font-title;
        font-size: 28px;
        font-weight: 400;
    }
    &__headline{
        @include flex-center(row,normal,center);
        gap: 24px;
        padding-top: 32px;
        svg{
            height: 21px;
        }
        @include desktop-screen{
            justify-content: center;
        }
    }
    &__container{
        @include flex-center(column,normal,normal);
        background: $background;
        border-radius: 40px 40px 0px 0px;
        padding: 0px 17px;
        position: relative;
        margin-top: -55px;
        gap: 40px;
        @include desktop-screen{
            max-width: 65.9rem;
            width: 100%;
        }
    }
    &__button{
        @include flex-center(row,center,center);
        width: 186px;
        align-self: center;
        @include desktop-screen{
            margin-bottom: 40px;
        }
    }
    &__check{
        height: 20px;
        width: 20px;
        filter: invert(1);
    }
    &__section ,&__row{
        @include flex-center(column,normal,normal);
        gap: 12px;
        @include desktop-screen{
            align-self: center;
            max-width: 39.6rem;
            width: 100%;
        }
    }
    &__section__title{
        @include text-style(16,300);
        border-bottom:3px solid $color-tertiary;
        height: 27px;
        text-transform: uppercase;
        width: 40px;
    }
    &__PlateAndPrice{
        @include flex-center();
        padding: 15px;
        flex: 1;
        overflow: hidden;
        gap: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__namePlate{
        @include text-style(18,700);
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__description{
        @include text-style(15,300);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__price{
        @include text-style(15,700);
    }
    &__plate{
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
    }
    &__price{
        align-self: flex-end;
    }
    &__select{
        @include flex-center();
        background: $color-tertiary;
        width: 59px;
        overflow: hidden;
        margin-right: -60px;
        transition: all 0.4s;
    }
    &__row{

        @for $i from 1 through 4 {
            &--entrée article:nth-child(#{$i}){
                animation: fadeInUp 0.8s normal both calc(0.2s + ($i * 100ms));
            }
            &--plats article:nth-child(#{$i}){
                animation: fadeInUp 0.8s normal both calc(0.4s + ($i * 100ms));
            }
            &--desserts article:nth-child(#{$i}){
                animation: fadeInUp 0.8s normal both calc(0.6s + ($i * 100ms));
            }
        }
    }    
}