.restaurant{
    margin-bottom: 60px;
    &__title{
        margin: 0;
        @include text-style(24, 700);
    }
    &__menu{
        gap: 18px;
        @include flex-center(column,normal,normal);
        padding: 0px 17px 17px 17px;
        a{
            text-decoration: none;
            color: $black;
            height: 100%;
        }
    }
}