.restaurant{
    
    &__title{
        margin: 0;
        @include text-style(24, 700);
        padding-left: 0.125rem;
    }
    &__menu{
        gap: 18px;
        @include flex-center(column,normal,normal);
        padding: 3.375rem 1.125rem 4.125rem 1.125rem;
        
        @include breakpoint('Desktop'){
            padding: 1.875rem 11.25rem 1.875rem 11.25rem;

        }
        a{
            text-decoration: none;
            color: $black;
            height: 100%;
        }
    }
    &__cards-wrapper{
        @include flex-center(column,normal,normal);
        gap: 18px;
        @include breakpoint('Desktop'){
            @include flex-center();
            flex-wrap: wrap;
            gap: 2rem 6.25rem;
            & > .card {
                flex: 1 1 calc(50% - 6.25rem);
                box-sizing: border-box;
            }
        }
    }
}   