.card{
    background: $white;
    border-radius: 15px;
    @include flex-center(column,normal,normal);
    height: 251px;
    @include drop-shadow(0,4,15,10);
    img{
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        width: 100%;
        height:70%;
    }
    &__content{
        @include flex-center(row,space-between);
        padding: 12px;
    }
    &__badge{
        background-color: $color-tertiary;
        border-radius: 2px;
        width: 80px;
        height: 29px;
        @include flex-center();
        position: absolute;
        top: 13px;
        right: 15px;
        span{
            @include text-style(14, 500);
            color:$dark-green;
        }
    }
    &__subtitle{
        margin: 0;
        @include text-style(18, 700);
    }
    &__text{
        margin: 0;
        @include text-style(17, 300);
    }
    &__like{
        font-size: 24px;
    }
}