.cardMenu{
    @include flex-center(row,normal,normal);
    @include drop-shadow(0,4.1,15.04,10);
    overflow: hidden;
    border-radius: 15px;
    background: $white;
    cursor: pointer;

    &:active {
        .menu__select{
            transition-delay: 0.2s;
            animation: card-slide 0.5s forwards;
        }
    }
}