.cardMenu{
    @include flex-center(row,normal,normal);
    @include drop-shadow(0,4.1,15.04,10);
    overflow: hidden;
    border-radius: 15px;
    background: $white;
    max-width: 634px;
    cursor: pointer;
    &:hover{
        .menu__select{
            margin: 0;
            animation: slideInRight 0.5s forwards;
            svg{
                animation: jello-horizontal 1s backwards;
            }
        }
    }
}