.like{
    height: 16px;
    position: relative;
    cursor: pointer;
    &__toggle{
        display: none;
    }
    &__toggle:checked + &__label .like--empty {
        opacity: 0
        
        
    }
    &__toggle:checked + &__label .like--full {
        opacity: 1;
        animation: fade-in 0.4s ease-in-out reverse;
    }
    &--full{
        position: absolute;
        opacity:0;
    }

   
}
