@charset "UTF-8";
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(50%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  background-color: #F6F6F6;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  font-family: roboto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  background-color: #FFFFFF;
  padding: 14px 0px 13px 17px;
  filter: drop-shadow(0px 2px 4px #00000025);
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    height: 7.125rem;
    box-sizing: border-box;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo > img {
  filter: invert(100%);
  height: 1rem;
}
.footer__link-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer__link-container {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  text-wrap: nowrap;
}
@media (min-width: 1024px) {
  .footer__link {
    flex: 1 1;
  }
}
.footer__link--icon {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
}

.buttons {
  border: none;
  cursor: pointer;
}
.buttons--primary {
  background: linear-gradient(-158deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 25px;
  color: #F6F6F6;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px #00000025;
}
.buttons--primary:hover {
  background: linear-gradient(-158deg, #bc95e9 0%, #ffc6ef 100%);
  box-shadow: 0px 4px 15px #00000035;
}
.buttons--secondary {
  cursor: pointer;
  background: #F6F6F6;
  border-radius: 20px;
  color: #000000;
  height: 70px;
  width: 85%;
  border-radius: 20px;
  box-shadow: 0px 4px 15px #00000025;
}
.buttons--secondary:hover {
  background: white;
  box-shadow: 0px 4px 15px #00000035;
}

.card {
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  height: 251px;
  filter: drop-shadow(0px 4px 15px #00000010);
}
.card img {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 70%;
}
.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.card__badge {
  background-color: #99E2D0;
  border-radius: 2px;
  width: 80px;
  height: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 15px;
}
.card__badge span {
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}
.card__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.card__text {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}
.card__like__container {
  display: flex;
  align-self: flex-end;
  position: relative;
  bottom: 3.75rem;
  padding: 0.75rem;
}

.like {
  height: 16px;
  position: relative;
  cursor: pointer;
}
.like__toggle {
  display: none;
}
.like__toggle:checked + .like__label .like--empty {
  opacity: 0;
}
.like__toggle:checked + .like__label .like--full {
  opacity: 1;
  animation: fade-in 0.4s ease-in-out reverse;
}
.like--full {
  position: absolute;
  opacity: 0;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px #00000025;
  gap: 17px;
  background-color: #EAEAEA;
  height: 50px;
}
.location__textfield {
  font-size: 16px;
  font-weight: 500;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 1.875rem 1.875rem;
}
.hero__container h1, .hero__container h2 {
  text-align: center;
  margin: 0;
}
.hero__title {
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .hero__title {
    font-size: 40px;
    font-weight: 700;
  }
}
.hero__subtitle {
  font-size: 18px;
  font-weight: 300;
}
.hero .buttons {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  flex-grow: 1;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  opacity: 0.9;
  animation: fadeOut 1s forwards 1.5s;
  overflow: hidden;
}
.loader__spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #9356DC #FF79DA transparent #99E2D0;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader__spinner::after, .loader__spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #99E2D0 #9356DC #FF79DA;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader__spinner::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

.fonctionement {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 3rem 1.25rem 4.25rem 2rem;
}
.fonctionement__title {
  align-self: flex-start;
}
@media (min-width: 1024px) {
  .fonctionement__title {
    width: 100%;
  }
}
.fonctionement__btn {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}
.fonctionement__btn h2 {
  font-size: 16px;
  font-weight: 500;
}
.fonctionement__number {
  background: #9356DC;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  left: -15px;
  position: relative;
  text-align: center;
  width: 24px;
}
.fonctionement__number span {
  left: 8px;
  top: 3px;
  position: absolute;
}
.fonctionement__content {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 27px;
}
.fonctionement__icon--purple {
  color: #9356DC;
}
.fonctionement__btn {
  width: 100%;
}
@media (min-width: 1024px) {
  .fonctionement__btn {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .fonctionement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3.125rem 11.25rem 3.125rem 11.25rem;
  }
}

.restaurant__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  padding-left: 0.125rem;
}
.restaurant__menu {
  gap: 18px;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  padding: 3.375rem 1.125rem 4.125rem 1.125rem;
}
@media (min-width: 1024px) {
  .restaurant__menu {
    padding: 1.875rem 11.25rem 1.875rem 11.25rem;
  }
}
.restaurant__menu a {
  text-decoration: none;
  color: #000000;
  height: 100%;
}
.restaurant__cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 18px;
}
@media (min-width: 1024px) {
  .restaurant__cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 6.25rem;
  }
  .restaurant__cards-wrapper > .card {
    flex: 1 1 calc(50% - 6.25rem);
    box-sizing: border-box;
  }
}

.menuImg {
  max-height: 280px;
  height: 100%;
}
.menuImg__image {
  object-fit: cover;
  width: 100%;
  height: 275px;
}
@media (min-width: 1024px) {
  .menuImg__image {
    max-height: 22.68rem;
  }
}

.menu {
  background: white;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
.menu__title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
.menu__headline {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 24px;
  padding-top: 32px;
}
.menu__headline svg {
  height: 21px;
}
@media (min-width: 1024px) {
  .menu__headline {
    justify-content: center;
  }
}
.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  background: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  padding: 0px 17px;
  position: relative;
  margin-top: -55px;
  gap: 40px;
}
@media (min-width: 1024px) {
  .menu__container {
    max-width: 65.9rem;
    width: 100%;
  }
}
.menu__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 186px;
  align-self: center;
}
@media (min-width: 1024px) {
  .menu__button {
    margin-bottom: 40px;
  }
}
.menu__check {
  height: 20px;
  width: 20px;
  filter: invert(1);
}
.menu__section, .menu__row {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 12px;
}
@media (min-width: 1024px) {
  .menu__section, .menu__row {
    align-self: center;
    max-width: 39.6rem;
    width: 100%;
  }
}
.menu__section__title {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  height: 27px;
  text-transform: uppercase;
  width: 40px;
}
.menu__PlateAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex: 1;
  overflow: hidden;
  gap: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__namePlate {
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__description {
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__price {
  font-size: 15px;
  font-weight: 700;
}
.menu__plate {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}
.menu__price {
  align-self: flex-end;
}
.menu__select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  width: 59px;
  overflow: hidden;
  margin-right: -60px;
  transition: all 0.4s;
}
.menu__row--entrée article:nth-child(1) {
  animation: fadeInUp 0.8s normal both 0.3s;
}
.menu__row--plats article:nth-child(1) {
  animation: fadeInUp 0.8s normal both 0.5s;
}
.menu__row--desserts article:nth-child(1) {
  animation: fadeInUp 0.8s normal both 0.7s;
}
.menu__row--entrée article:nth-child(2) {
  animation: fadeInUp 0.8s normal both 0.4s;
}
.menu__row--plats article:nth-child(2) {
  animation: fadeInUp 0.8s normal both 0.6s;
}
.menu__row--desserts article:nth-child(2) {
  animation: fadeInUp 0.8s normal both 0.8s;
}
.menu__row--entrée article:nth-child(3) {
  animation: fadeInUp 0.8s normal both 0.5s;
}
.menu__row--plats article:nth-child(3) {
  animation: fadeInUp 0.8s normal both 0.7s;
}
.menu__row--desserts article:nth-child(3) {
  animation: fadeInUp 0.8s normal both 0.9s;
}
.menu__row--entrée article:nth-child(4) {
  animation: fadeInUp 0.8s normal both 0.6s;
}
.menu__row--plats article:nth-child(4) {
  animation: fadeInUp 0.8s normal both 0.8s;
}
.menu__row--desserts article:nth-child(4) {
  animation: fadeInUp 0.8s normal both 1s;
}

.cardMenu {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  filter: drop-shadow(0px 4.1px 15.04px #00000010);
  overflow: hidden;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
.cardMenu:hover .menu__select {
  margin: 0;
  animation: slideInRight 0.5s forwards;
}
.cardMenu:hover .menu__select svg {
  animation: jello-horizontal 1s backwards;
}

/*# sourceMappingURL=main.css.map */
